/piMidiHttp/.gradle/
piMidiHttp/.gradle/5.2.1/executionHistory/executionHistory.bin
piMidiHttp/.gradle/5.2.1/executionHistory/executionHistory.lock
piMidiHttp/.gradle/5.2.1/fileHashes/fileHashes.bin
piMidiHttp/.gradle/5.2.1/fileHashes/fileHashes.lock
piMidiHttp/.gradle/5.2.1/javaCompile/javaCompile.lock
piMidiHttp/.gradle/buildOutputCleanup/buildOutputCleanup.lock
piMidiHttp/.gradle/5.2.1/executionHistory/executionHistory.bin
piMidiHttp/.gradle/5.2.1/executionHistory/executionHistory.lock
